<%- include('partials/header'); -%>

  <nav>
    <ul>
      <li> Admin page  : <%=  user.email.split('@')[0]; %></li>
      <li><a href="/bookadd" class="btn">AddBook</a></li>
      <li><a href="/bookRemove" class="btn">RemoveBook</a></li>
      <li><a href="/adminBookview" class="btn">UserView</a></li>  
      
       
    </ul>
  </nav>
  