<%- include('partials/header'); -%>
<header>
  <div class="smoothie">
    <img src="../public/library.jpg" alt="library">
  </div>
  <div class="headings">
    <h2>Books library </h2>
    <h3>By Tamer Mansor</h3>
    <a href="/books" class="btn">View All Books</a>
  </div>
</header>


<%- include('partials/footer'); -%>